<div id="<%= dom_id list %>">
  <p>
    <strong>List:</strong>
    <%#= list.id %>
    <%= list.name %>
    <%#= list.row_order %>
  </p>

  <div class="items" data-controller="sortable" data-sortable-group-value="items" data-sortable-list-id="<%= list.id %>">
    <% list.items.rank(:row_order).each do |item| %>
      <!--<li data-sortable-id="<%#= item.id %>">-->
      <!-- <div data-sortable-update-url="<%#= sort_item_path(item) %>">-->
      <div data-sortable-item-id="<%= item.id %>">
        <%= render item %>
      </div>
    <% end %>
  </div>

</div>
