<div id="<%= dom_id list %>">
  <p>
    <strong>List:</strong>
    <%= list.id %>
    <%= list.name %>
    <%= list.row_order %>
  </p>

  <ul data-controller="sortable">
    <% list.items.rank(:row_order).each do |item| %>
      <!--<li data-sortable-id="<%#= item.id %>">-->
      <li data-sortable-update-url="<%= sort_item_path(item) %>">
        <%= render item %>
      </li>
    <% end %>
  </ul>

</div>
