<p style="color: green"><%= notice %></p>

<div class="schedule">
  <div class="row" style="display: flex; justify-content: center;">
    <div class="todo" style="width: 800px; flex: 0 0 800px; height: 300px; border: solid;">
      <div class="todo head" style="display: flex; padding: 10px;">
        <div>
          <h3>
            <%= @list_source.name %>
          </h3>
        </div>
        <div style="margin-left: auto;">
          <% if can? :manage, Item %>
            <%= link_to "Create", new_item_path, class: "btn btn-primary", data: { turbo_frame: dom_id(Item.new) } %>
          <% end %>
        </div>
      </div><!-- todo head -->

      <%= turbo_frame_tag Item.new %>

      <%= turbo_frame_tag "items" do %>
        <div id="group_source" class="items" data-controller="sortable" data-sortable-group-value="items" data-sortable-item-list-id="1" style="display: flex; flex-wrap: wrap;">
          <% @list_source.items.rank(:row_order).each do |item| %>
            <%= render "/items/source_item", item: item %>
          <% end %>
        </div><!-- group_source -->
      <% end %>
    </div><!-- todo -->
  </div><!-- row -->

  <% i = 0 %>
  <div class="row row-cols-5 mt-1" style="display:flex; justify-content: center;">
    <% Time.zone.today.all_week.reject{|day| day.saturday? || day.sunday? }.each do |day| %>
      <div class="col day" style="width: 340px; border-style: solid; border-width: 1px; border-color: blue; text-align:center;">
        <div class="row" style="text-align: center;">
          <h3>
            <% if day.today? %>
              <%= day.month.to_s + "월 " + day.day.to_s + "일  " + day.strftime("%a")%><span style="color: red;">  오늘</span>
            <% else %>
              <%= day.month.to_s + "월 " + day.day.to_s + "일  " + day.strftime("%a") %>
            <% end %>
          </h3>
        </div><!-- row -->

        <div class="row row-cols-2">
          <div class="col floor3" style="text-align: center;">
            <h5>3층</h5>
            <% @schedule[i].each do |list| %>
              <%= render list %>
            <% end %>
          </div><!-- col floor3 -->

          <div class="col floor4" style="text-align: center;">
            <h5>4층</h5>
            <% @schedule[i+1].each do |list| %>
              <%= render list %>
            <% end %>
          </div><!-- col floor4 -->
        </div><!-- row row-cols-2 -->
      </div><!-- col day -->

      <% i+=2 %>
    <% end %>
  </div> <!-- row row-cols-5 -->
</div><!-- schedule -->

<%= link_to "New list", new_list_path %>
