<div class="todo" style="width: 800px; flex: 0 0 800px; height: 300px; border: solid;">
  <div class="todo head" style="display: flex; padding: 10px;">
    <div>
      <h3>
        <%= schedule_source.lists.first.name %>
      </h3>
    </div>
    <div style="margin-left: auto;">
      <% if can? :manage, Item %>
        <%= link_to "Create", new_item_path, class: "btn btn-primary", data: { turbo_frame: dom_id(Item.new) } %>
      <% end %>
    </div>
  </div><!-- todo head -->

  <%= turbo_frame_tag Item.new %>

  <%= turbo_frame_tag "items" do %>
    <div id="group_source" class="items" data-controller="sortable" data-sortable-group-value="items" data-sortable-item-list-id="1" style="display: flex; flex-wrap: wrap;">
      <% schedule_source.lists.first.items.rank(:row_order).each do |item| %>
        <%= render "/items/source_item", item: item %>
      <% end %>
    </div><!-- group_source -->
  <% end %>
</div><!-- todo -->
