<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container mx-auto">
      <%= link_to root_path, class: "navbar-brand" do %>
       아라초4학년
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <%= yield :right_nav %>

            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                <%= current_user.username %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-success me-2" %></li>
            <li><%= link_to "Login", new_user_session_path, class: "btn btn-outline-secondary" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

</div>


