<div id="<%= dom_id item %>" class="item" data-sortable-item-id="<%= item.id %>" data-sortable-item-user-id="<%= item.user.id %>">
  <div class="item__body" style="width: 200px; margin: 5px; padding: 5px; border-radius: 5px; cursor: pointer; align-items: center; display: flex; background-color: #<%= item.color %>;">
    <div class="item__info">
      <%= item.name %>
      <%= item.body %>
    </div><!-- item__info -->
    <div class="item__buttons" style="margin-left: auto; display: flex;">
      <% if can? :edit, item %>
        <%= link_to edit_item_path(item), data: { turbo_frame: :modal } do %>
          <i class="fa fa-pen-to-square" style="color: black; margin-right: 5px;"></i>
        <% end %>
      <% end %>
      <% if can? :destroy, item %>
        <%= link_to item_path(item), data: { turbo_method: :delete } do %>
          <i class="fa fa-times-circle" style="color: red;"></i>
        <% end %>
      <% end %>
    </div><!-- item__buttons -->
  </div><!-- item__body -->
</div><!-- item -->
