<!DOCTYPE html>
<html>
  <head>
    <title>Donghaknyun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if user_signed_in? %>
      <%= tag.meta name: "current_user_username", content: current_user.username %>
      <%= tag.meta name: "current_user_id", content: current_user.id %>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <main class="co mt-1">
      <%= yield %>
    </main>
  </body>

</html>
